set (autostart true)
set (preconditions Bluetooth)

map()
   kv(btctl "BluetoothControl")
   kv(defaultkeymap "bluetooth")
   kv(mtu 256)
   key(audio)
   map()
      kv(serviceuuid "f0e0d000-a000-b000-c000-987654321000")
      kv(commanduuid "f0e0d001-a000-b000-c000-987654321000")
      kv(datauuid "f0e0d002-a000-b000-c000-987654321000")
      key(profiles)
      if(PLUGIN_BLUETOOTHREMOTECONTROL_SUPPORT_ADPCM_HQ)
         map()
            kv(name "adpcm-hq")
            kv(codec "ADPCM")
            kv(channels 1)
            kv(rate 16000)
            kv(resolution 16)
         end()
         ans(adpcm-hq)
         map_append(${configuration} profiles ___array___)
         map_append(${configuration} profiles ${adpcm-hq})
      endif()

      if(PLUGIN_BLUETOOTHREMOTECONTROL_SUPPORT_PCM)
         map()
            kv(name "pcm")
            kv(codec "PCM")
            kv(channels 1)
            kv(rate 16000)
            kv(resolution 16)
         end()
         ans(pcm)
         map_append(${configuration} profiles ___array___)
         map_append(${configuration} profiles ${pcm})
      endif()
   end()
end()
ans(configuration)
