set (autostart true)
set (preconditions Bluetooth)
set (terminations !Bluetooth)

map()
   kv(controller "BluetoothControl")
   kv(keyingest true)
   kv(recorder "off")
   kv(keymap "bluetooth")
   kv(codec "pcm")
   kv(samplerate 16000)
   kv(channels 1)
   kv(resolution 16)
   kv(configuration "")
   kv(serviceuuid "f0e0d000-a000-b000-c000-987654321000")
   kv(commanduuid "f0e0d001-a000-b000-c000-987654321000")
   kv(datauuid "f0e0d002-a000-b000-c000-987654321000")
end()
ans(configuration)
