set (autostart true)
set (preconditions Bluetooth)

map()
   kv(btctl "BluetoothControl")
   kv(defaultkeymap "bluetooth")
   kv(mtu 256)
   key(audio)
   map()
      kv(serviceuuid "f0e0d000-a000-b000-c000-987654321000")
      kv(commanduuid "f0e0d001-a000-b000-c000-987654321000")
      kv(datauuid "f0e0d002-a000-b000-c000-987654321000")
   end()
end()
ans(configuration)
