set (autostart false)

set(preconditions Graphics)

map()
    kv(url "about:blank")
    kv(useragent ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_USERAGENT})
    kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    kv(transparent ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor "aa")
    kv(inspector "0.0.0.0:10000")
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers "audio:2m,video:15m,text:1m")
    kv(memoryprofile ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(memorypressure ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_MEMORYPRESSURE})
    kv(mediadiskcache ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(noncompositedwebgl true)
    kv(secure false)
    kv(webgl ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_WEBGL})
    if(WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER)
        kv(clientidentifier ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER})
    endif()
end()
ans(configuration)
