set (autostart false)

set(preconditions Graphics Internet)

map()
    kv(url "https://www.youtube.com/tv")
    kv(useragent "Mozilla/5.0 (Macintosh, Intel Mac OS X 10_11_4) AppleWebKit/602.1.28+ (KHTML, like Gecko) Version/9.1 Safari/601.5.17")
    kv(injectedbundle "libWPEInjectedBundle${CMAKE_SHARED_LIBRARY_SUFFIX}")
    kv(transparent ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_TRANSPARENT})
    kv(compositor "noaa")
    kv(inspector "0.0.0.0:9999")
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers "audio:2m,video:15m,text:1m")
    kv(memoryprofile ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_MEMORYPROFILE})
    kv(memorypressure ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_MEMORYPRESSURE})
    kv(mediadiskcache ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_MEDIADISKCACHE})
    kv(diskcache ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_DISKCACHE})
    kv(xhrcache ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_XHRCACHE})
    kv(webgl false)
    if(WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER)
        kv(clientidentifier ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_CLIENTIDENTIFIER})
    endif()
    if(WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_LOCALSTORAGE)
        kv(localstorage ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_LOCALSTORAGE})
    endif()
    if(WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_COOKIESTORAGE)
        kv(cookiestorage ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_COOKIESTORAGE})
    endif()
    if(WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_WINDOWCLOSE)
        kv(windowclose ${WPEFRAMEWORK_PLUGIN_WEBKITBROWSER_WINDOWCLOSE})
    endif()
end()
ans(configuration)
