set(startmode ${PLUGIN_WIFICONTROL_STARTMODE})

map()
    kv(autoconnect ${PLUGIN_WIFICONTROL_AUTOCONNECT})
    kv(retryinterval ${PLUGIN_WIFICONTROL_AUTOCONNECT_RETRYINTERVAL})
    kv(maxretries ${PLUGIN_WIFICONTROL_AUTOCONNECT_MAXRETRIES})
    kv(wpswalktime ${PLUGIN_WIFICONTROL_WPS_WALKTIME})
    kv(wpsdisabled ${PLUGIN_WIFICONTROL_WPS_DISABLED})
end()
ans(configuration)
