set(PLUGIN_WIFICONTROL_AUTOSTART true CACHE STRING "Automatically start WifiControl plugin")
set(PLUGIN_WIFICONTROL_AUTOCONNECT true CACHE STRING "Automatically start to connect with configured SSID")
set(PLUGIN_WIFICONTROL_AUTOCONNECT_RETRYINTERVAL 30 CACHE STRING "Autoconnect Retry interval in seconds")

set (autostart ${PLUGIN_WIFICONTROL_AUTOSTART})

set (preconditions Platform)
map()
    kv(autoconnect ${PLUGIN_WIFICONTROL_AUTOCONNECT})
    kv(retryinterval ${PLUGIN_WIFICONTROL_AUTOCONNECT_RETRYINTERVAL})
end()
ans(configuration)
