set (startmode ${PLUGIN_WEBPA_STARTMODE})

map()
    key(root)
    map()
        kv(mode ${PLUGIN_WEBPA_MODE})
    end()

    kv(interface ${PLUGIN_WEBPA_INTERFACE})
    kv(pingwaittime ${PLUGIN_WEBPA_PINGWAITTIME})
    kv(webpaurl ${PLUGIN_WEBPA_WEBPAURL})
    kv(paroduslocalurl ${PLUGIN_WEBPA_PARODUSLOCALURL})
    kv(partnerid ${PLUGIN_WEBPA_PARTENRID})
    kv(webpabackoffmax ${PLUGIN_WEBPA_BACKOFFMAX})
    kv(sslcertpath ${PLUGIN_WEBPA_CERTPATH})
    kv(forceipv4 true)

    if(PLUGIN_WEBPA_CCSP)
        kv(ccspclienturl ${PLUGIN_WEBPA_CCSP_CLIENTURL})
        kv(ccspconfigfile ${PLUGIN_WEBPA_CCSP_CONFIGFILE})
        if(PLUGIN_WEBPA_CCSP_DATAFILE)
            kv(ccspdatafile ${PLUGIN_WEBPA_CCSP_DATAFILE})
        endif()
    endif()

    if(PLUGIN_WEBPA_GENERIC_ADAPTER)
        kv(genericclienturl ${PLUGIN_WEBPA_GENERICCLIENTURL})
        kv(datamodelfile ${PLUGIN_WEBPA_DATAMODELFILE})
        kv(notifyconfigfile ${PLUGIN_WEBPA_NOTIFYCONFIGFILE})
        kv(maxclientretry ${PLUGIN_WEBPA_GENERICCLIENT_MAXRETRY})
    endif()
end()
ans(configuration)

if(PLUGIN_WEBPA_GENERIC_ADAPTER)
    if(PLUGIN_WEBPA_DEVICE_INFO)
        map()
            kv(profilename "DeviceInfo")
            kv(profilecontrol "DeviceControl")
        end()
        ans(profiles)
        map_append(${configuration} profiles ___array___ ${profiles})
    endif()
endif()
