set(PLUGIN_WEBPA_INTERFACE "eth0" CACHE STRING "Interface name to be used for establishing connection")
set(PLUGIN_WEBPA_PINGWAITTIME "60" CACHE STRING "Wait time out for Ping in seconds")
set(PLUGIN_WEBPA_WEBPAURL "http://192.168.1.1" CACHE STRING "URL of WEBPA Server")
set(PLUGIN_WEBPA_PARODUSLOCALURL "tcp://127.0.0.1:6666" CACHE STRING "URL of Parodus Local Service")
set(PLUGIN_WEBPA_PARTENRID "Metrological" CACHE STRING "Parter ID")
set(PLUGIN_WEBPA_BACKOFFMAX "9" CACHE STRING "Max retry sleep for WebPA connection")
set(PLUGIN_WEBPA_CERTPATH "/etc/ssl/certs/ca-certificates.crt" CACHE STRING "SSL Certificate Path of Parodus Service")
set(PLUGIN_WEBPA_CCSP_CLIENTURL "tcp://127.0.0.1:6667" CACHE STRING "URL of CCSP Client to communicate with Service")
set(PLUGIN_WEBPA_CCSP_CONFIGFILE "/etc/webpa_cfg.json" CACHE STRING "Config File for CCSP Client")
set(PLUGIN_WEBPA_CCSP_DATAFILE "" CACHE STRING "Device properties file for CCSP client")
set(PLUGIN_WEBPA_GENERICCLIENTURL "tcp://127.0.0.1:6667" CACHE STRING "URL of Generic Client to communicate with Service")
set(PLUGIN_WEBPA_GENERICCLIENT_MAXRETRY "1" CACHE STRING "Number of retries to establish a connection with parodus service")
set(PLUGIN_WEBPA_DATAMODELFILE "/usr/share/WPEFramework/WebPA/data-model.xml" CACHE STRING "Data Model File for Generic Adapter")
set(PLUGIN_WEBPA_NOTIFYCONFIGFILE "/usr/share/WPEFramework/WebPA/notify_webpa_cfg.json" CACHE STRING "Notifier configuration file for Generic Adapter")

set (autostart ${PLUGIN_WEBPA_AUTOSTART})

map()
    kv(interface ${PLUGIN_WEBPA_INTERFACE})
    kv(pingwaittime ${PLUGIN_WEBPA_PINGWAITTIME})
    kv(webpaurl ${PLUGIN_WEBPA_WEBPAURL})
    kv(paroduslocalurl ${PLUGIN_WEBPA_PARODUSLOCALURL})
    kv(partnerid ${PLUGIN_WEBPA_PARTENRID})
    kv(webpabackoffmax ${PLUGIN_WEBPA_BACKOFFMAX})
    kv(sslcertpath ${PLUGIN_WEBPA_CERTPATH})
    kv(forceipv4 true)

    if(PLUGIN_WEBPA_CCSP)
        kv(ccspclienturl ${PLUGIN_WEBPA_CCSP_CLIENTURL})
        kv(ccspconfigfile ${PLUGIN_WEBPA_CCSP_CONFIGFILE})
        kv(ccspdatafile ${PLUGIN_WEBPA_CCSP_DATAFILE})
    endif()

    if (PLUGIN_WEBPA_GENERIC_ADAPTER)
        kv(genericclienturl ${PLUGIN_WEBPA_GENERICCLIENTURL})
        kv(datamodelfile ${PLUGIN_WEBPA_DATAMODELFILE})
        kv(notifyconfigfile ${PLUGIN_WEBPA_NOTIFYCONFIGFILE})
        kv(maxclientretry ${PLUGIN_WEBPA_GENERICCLIENT_MAXRETRY})
    endif()
end()
ans(configuration)

if (PLUGIN_WEBPA_GENERIC_ADAPTER)
    map()
    if(PLUGIN_WEBPA_DEVICE_INFO)
        kv(profilename "DeviceInfo")
        kv(profilecontrol "DeviceControl")
    endif()
    end()
    ans(profiles)

    map_append(${configuration} profiles ___array___)
    map_append(${configuration} profiles ${profiles})
endif()
