CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
uninstall.cmake
install_manifest.txt
CTestTestfile.cmake
output/
build/
.DS_Store
.vscode
/.vs
/artifacts
*/*.so
*/*/*.so
*/*/*/*.so
*/*/*/*.a
*/config
*/*/config
*/*/*/*.a
*/*/*/*.webpa
*/*/*/*/*/*.profile
