
if (WPEFRAMEWORK_PLUGIN_REMOTECONTROL_IRNEXUS)
set (preconditions Graphics)
endif(WPEFRAMEWORK_PLUGIN_REMOTECONTROL_IRNEXUS)

map()
    kv(mapfile ${WPEFRAMEWORK_PLUGIN_REMOTECONTROL_KEYMAP})
	kv(repeatstart 500)
	kv(repeatinterval 100)
end()
ans(configuration)

if (WPEFRAMEWORK_PLUGIN_REMOTECONTROL_IRNEXUS)
map()
    kv(name NexusIR)
	kv(mapfile ${WPEFRAMEWORK_PLUGIN_REMOTECONTROL_IRNEXUS_KEYMAP})
	kv(passon false)
if (WPEFRAMEWORK_PLUGIN_REMOTECONTROL_CODEMASK)
    key(settings)
    map()
		kv(codemask ${WPEFRAMEWORK_PLUGIN_REMOTECONTROL_CODEMASK})
	end()
endif()
end()
ans(devices)
map_append(${configuration} devices ___array___)
map_append(${configuration} devices ${devices})

endif()


if (WPEFRAMEWORK_PLUGIN_REMOTECONTROL_DEVINPUT_KEYMAP)
map()
	kv(name LinuxDevice)
	kv(mapfile ${WPEFRAMEWORK_PLUGIN_REMOTECONTROL_DEVINPUT_KEYMAP})
	kv(passon false)
end()
ans(devices)
map_append(${configuration} devices ___array___)
map_append(${configuration} devices ${devices})
endif()

map()
	kv(name keymap) # Default keymap for backwards compatibility
end()
ans(virtuals)

map_append(${configuration} virtuals ___array___)
map_append(${configuration} virtuals ${virtuals})
