set(autostart true)

set(preconditions Platform)

map()
    key(root)
    map()
      kv(threads 2)
      kv(outofprocess true)
    end()
    kv(dsgPort 8888)
    kv(dsgType 1)
    kv(dsgId   1)
    kv(dsgCaType 3)
    kv(dsgCaId 3584)
    kv(vctId   1)
    kv(dsgSiHeaderSize 46)
    kv(dsgCaHeaderSize 0)
    kv(dsgCacheFile "/usr/share/WPEFramework/dsg-channels.json")
end()
ans(configuration)
