set (autostart ${PLUGIN_SPARK_AUTOSTART})
set (preconditions Internet Graphics)

map()
    kv(url ${PLUGIN_SPARK_STARTURL})
end()
ans(configuration)

map()
if (${PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "RPI")
    kv(threads 2)
end()
ans(rootconfig)
map_append(${configuration} root ${rootconfig})
endif ()
