set(startmode ${PLUGIN_SPARK_STARTMODE})

map()
    kv(url ${PLUGIN_SPARK_STARTURL})
    kv(height ${PLUGIN_SPARK_HEIGHT})
    kv(width ${PLUGIN_SPARK_WIDTH})
end()
ans(configuration)

map()
    kv(mode ${PLUGIN_SPARK_MODE})
    if(PLUGIN_COMPOSITOR_IMPLEMENTATION AND ${PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "RPI")
        kv(threads 2)
    endif()
end()
ans(rootconfig)
map_append(${configuration} root ${rootconfig})
