set (autostart true)

map()
    key(root)
    map()
        if (PLUGIN_TESTCONTROLLER_MODE)
            kv(mode ${PLUGIN_TESTCONTROLLER_MODE})
        else()
            if (PLUGIN_TESTCONTROLLER_OUTOFPROCESS)
                kv(mode "Local")
            else()
                kv(mode "Off")
            endif()
        endif()

    end()
end()
ans(configuration)
