set(startmode ${PLUGIN_SVALBARD_STARTMODE})

map()
    kv(mode ${PLUGIN_SVALBARD_MODE})
    if(PLUGIN_SVALBARD_USER)
        kv(user ${PLUGIN_SVALBARD_USER})
    endif()
    if(PLUGIN_SVALBARD_GROUP)
        kv(group ${PLUGIN_SVALBARD_GROUP})
    endif()
end()
ans(rootobject)
map_append(${configuration} root ${rootobject})
