set(autostart ${PLUGIN_SVALBARD_AUTOSTART})
set(preconditions Platform)

map()
    if (PLUGIN_SVALBARD_MODE)
        kv(mode ${PLUGIN_SVALBARD_MODE})
    else()
        if (PLUGIN_SVALBARD_OUTOFPROCESS)
            kv(mode "Local")
        else()
            kv(mode "Off")
        endif()
    endif()
    if (PLUGIN_SVALBARD_USER)
        kv(user ${PLUGIN_SVALBARD_USER})
    endif()
    if (PLUGIN_SVALBARD_GROUP)
        kv(group ${PLUGIN_SVALBARD_GROUP})
    endif()
end()
ans(rootobject)
map_append(${configuration} root ${rootobject})
