set (autostart true)
set (preconditions Platform)

map()
end()
ans(configuration)

map()
    if(PLUGIN_SVALBARD_OOP)
        kv(outofprocess true)
    else()
        kv(outofprocess false)
    endif()
    if(PLUGIN_SVALBARD_USER)
        kv(user ${PLUGIN_SVALBARD_USER})
    endif()
    if(PLUGIN_SVALBARD_GROUP)
        kv(group ${PLUGIN_SVALBARD_GROUP})
    endif()
end()
ans(rootobject)
map_append(${configuration} root ${rootobject})
