set (autostart true)

map()
    key(root)
    map()
        if (PLUGIN_TESTUTILITY_MODE)
            kv(mode ${PLUGIN_TESTUTILITY_MODE})
        else()
            if (PLUGIN_TESTUTILITY_OUTOFPROCESS)
                kv(mode "Local")
            else()
                kv(mode "Off")
            endif()
        endif()
    end()
end()
ans(configuration)
