set (autostart ${WPEFRAMEWORK_PLUGIN_POWER_AUTOSTART})
set (preconditions Platform)

if (WPEFRAMEWORK_PLUGIN_POWER_GPIOTYPE AND WPEFRAMEWORK_PLUGIN_POWER_GPIOPIN)
map()
   kv(gpiopin ${WPEFRAMEWORK_PLUGIN_POWER_GPIOPIN})
   kv(gpiotype ${WPEFRAMEWORK_PLUGIN_POWER_GPIOTYPE})
end()
ans(configuration)
endif ()
