set (autostart ${PLUGIN_POWER_AUTOSTART})
set (preconditions Platform)

if (PLUGIN_POWER_GPIOTYPE AND PLUGIN_POWER_GPIOPIN)
map()
   kv(powerkey ${PLUGIN_POWER_POWER_KEY})
   kv(controlclients ${PLUGIN_POWER_CONTROL_CLIENTS})
   kv(gpiopin ${PLUGIN_POWER_GPIOPIN})
   kv(gpiotype ${PLUGIN_POWER_GPIOTYPE})
end()
ans(configuration)
endif ()
