set (startmode ${PLUGIN_POWER_STARTMODE})

map()
   kv(powerkey ${PLUGIN_POWER_POWER_KEY})
   kv(controlclients ${PLUGIN_POWER_CONTROL_CLIENTS})
   if (PLUGIN_POWER_GPIOTYPE AND PLUGIN_POWER_GPIOPIN)
      kv(gpiopin ${PLUGIN_POWER_GPIOPIN})
      kv(gpiotype ${PLUGIN_POWER_GPIOTYPE})
   endif()
end()
ans(configuration)
