set (autostart ${PLUGIN_COBALT_AUTOSTART})
set (preconditions Platform Graphics Internet)

map()
    kv(outofprocess ${PLUGIN_COBALT_OUTOFPROCESS})
    if(PLUGIN_COBALT_USER)
        kv(user ${PLUGIN_COBALT_USER})
    endif()
    if(PLUGIN_COBALT_GROUP)
        kv(group ${PLUGIN_COBALT_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url "https://www.youtube.com/tv")
    kv(inspector ${PLUGIN_COBALT_WEBINSPECTOR_ADDRESS})
    kv(height ${PLUGIN_COBALT_HEIGHT})
    kv(width ${PLUGIN_COBALT_WIDTH})
    kv(repeatstart 500)
    kv(repeatinterval 50)
    if(PLUGIN_COBALT_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_COBALT_CLIENTIDENTIFIER})
    endif()
    if(PLUGIN_COBALT_MANUFACTURER_NAME)
        kv(manufacturername ${PLUGIN_COBALT_MANUFACTURER_NAME})
    endif()
    if(PLUGIN_COBALT_CHIPSET_MODEL_NUMBER)
        kv(chipsetmodelnumber ${PLUGIN_COBALT_CHIPSET_MODEL_NUMBER})
    endif()
    if(PLUGIN_COBALT_FIRMWARE_VERSION)
        kv(firmwareversion ${PLUGIN_COBALT_FIRMWARE_VERSION})
    endif()
    if(PLUGIN_COBALT_MODEL_NAME)
        kv(modelname ${PLUGIN_COBALT_MODEL_NAME})
    endif()
    if(PLUGIN_COBALT_MODEL_YEAR)
        kv(modelyear ${PLUGIN_COBALT_MODEL_YEAR})
    endif()
    if(PLUGIN_COBALT_OPERATOR_NAME)
        kv(operatorname ${PLUGIN_COBALT_OPERATOR_NAME})
    endif()
    if(PLUGIN_COBALT_FRIENDLY_NAME)
        kv(friendlyname ${PLUGIN_COBALT_FRIENDLY_NAME})
    endif()
    if(PLUGIN_COBALT_SCOPE)
        kv(scope ${PLUGIN_COBALT_SCOPE})
    endif()
    if(PLUGIN_COBALT_SECRET)
        kv(secret ${PLUGIN_COBALT_SECRET})
    endif()
    if("${PLUGIN_COBALT_PLAYBACKRATES}" STREQUAL false)
        kv(playbackrates ${PLUGIN_COBALT_PLAYBACKRATES})
    endif()     
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
