set (autostart ${PLUGIN_COBALT_AUTOSTART})
set (preconditions Platform Graphics)

map()
    kv(outofprocess ${PLUGIN_COBALT_OUTOFPROCESS})
end()
ans(rootobject)

map()
    kv(url "https://www.youtube.com/tv")
    kv(height 720)
    kv(width 1280)
    if(PLUGIN_COBALT_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_COBALT_CLIENTIDENTIFIER})
    endif()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
