set(startmode ${PLUGIN_COBALT_STARTMODE})
set(resumed ${PLUGIN_COBALT_RESUMED})

map()
    kv(mode ${PLUGIN_COBALT_MODE})
    kv(locator lib${PLUGIN_COBALT_IMPLEMENTATION}.so)
    if(PLUGIN_COBALT_USER)
        kv(user ${PLUGIN_COBALT_USER})
    endif()
    if(PLUGIN_COBALT_GROUP)
        kv(group ${PLUGIN_COBALT_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url "https://www.youtube.com/tv")
    kv(loglevel "info")
    kv(inspector ${PLUGIN_COBALT_WEBINSPECTOR_ADDRESS})
    kv(height ${PLUGIN_COBALT_HEIGHT})
    kv(width ${PLUGIN_COBALT_WIDTH})
    kv(repeatstart 500)
    kv(repeatinterval 50)
    if(PLUGIN_COBALT_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_COBALT_CLIENTIDENTIFIER})
    endif()
    if(PLUGIN_COBALT_OPERATOR_NAME)
        kv(operatorname ${PLUGIN_COBALT_OPERATOR_NAME})
    endif()
    if(PLUGIN_COBALT_SCOPE)
        kv(scope ${PLUGIN_COBALT_SCOPE})
    endif()
    if(PLUGIN_COBALT_SECRET)
        kv(secret ${PLUGIN_COBALT_SECRET})
    endif()
    if("${PLUGIN_COBALT_PLAYBACKRATES}" STREQUAL false)
        kv(playbackrates ${PLUGIN_COBALT_PLAYBACKRATES})
    endif()     
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
