set (startmode ${PLUGIN_FIRMWARECONTROL_STARTMODE})
map()
  if(PLUGIN_FIRMWARECONTROL_SOURCE_LOCATION)
  kv(source ${PLUGIN_FIRMWARECONTROL_SOURCE_LOCATION})
  endif()
  kv(download ${PLUGIN_FIRMWARECONTROL_DOWNLOAD_LOCATION})
  kv(waittime ${PLUGIN_FIRMWARECONTROL_WAITTIME})
end()
ans(configuration)
