set(PLUGIN_FIRMWARECONTROL_SOURCE_LOCATION "" CACHE STRING "Source URL or location of the firmware")
set(PLUGIN_FIRMWARECONTROL_DOWNLOAD_LOCATION "/tmp" CACHE STRING "Location where the firmware to be downloaded")

set (autostart ${PLUGIN_FIRMWARECONTROL_AUTOSTART})
map()
  if (PLUGIN_FIRMWARECONTROL_SOURCE_LOCATION)
  kv(source ${PLUGIN_FIRMWARECONTROL_SOURCE_LOCATION})
  endif()
  kv(download ${PLUGIN_FIRMWARECONTROL_DOWNLOAD_LOCATION})
end()
ans(configuration)
