set(autostart true)

set(preconditions Internet)

map()
    kv(interval 30)
    kv(retries 20)
    kv(periodicity 24)
    key(sources)
end()
ans(configuration)

map_append(${configuration} sources ntp://0.pool.ntp.org)
map_append(${configuration} sources ntp://1.pool.ntp.org)
map_append(${configuration} sources ntp://2.pool.ntp.org)
map_append(${configuration} sources ntp://3.pool.ntp.org)
