set(autostart true)

set(preconditions Platform)

map()
    key(root)
    map()
      kv(threads 2)
      kv(outofprocess true)
    end()
    kv(frontends ${PLUGIN_STREAMER_FRONTENDS})
    kv(decoders ${PLUGIN_STREAMER_DECODERS})
    if(PLUGIN_STREAMER_HOME_TS)
        # unfortunately the %$^%#$$% CMAKE is a big mess AGAIN !!!
        # The logical steps to get the 
        kv(homets "Please fill in manually CMAKE $%#^^$ UP..... again !!!")
    endif(PLUGIN_STREAMER_HOME_TS)
    if( ${PLUGIN_STREAMER_STANDARD} STREQUAL "DVB")
    kv(standard DVB)
    kv(annex A)
    else()
    kv(standard ATSC)
    kv(annex C)
    endif()
    kv(scan true)
    
end()
ans(configuration)
