set(autostart true)

set(preconditions Platform)

map()
    key(root)
    map()
      kv(threads 2)
      kv(outofprocess true)
    end()
    kv(decoders ${PLUGIN_STREAMER_DECODERS})
end()
ans(configuration)

# Already an array
foreach(IMPL ${PLUGIN_STREAMER_IMPLEMENTATIONS})
  if(${IMPL} STREQUAL Aamp)
    map()
      kv(frontends ${PLUGIN_STREAMER_AAMP_FRONTENDS})
      if(PLUGIN_STREAMER_AAMP_WESTEROSSINK)
          kv(westerossink true)
      endif(PLUGIN_STREAMER_AAMP_WESTEROSSINK)
    end()
    ans(config)
    map_append(${configuration} ${IMPL} ${config})
  endif()

  if(${IMPL} STREQUAL QAM)
    map()
      kv(standard ${PLUGIN_STREAMER_BROADCAST_STANDARD})
      if(${PLUGIN_STREAMER_BROADCAST_CABLE})
        if (${PLUGIN_STREAMER_BROADCAST_STANDARD} STREQUAL DVB)
          kv(annex ${PLUGIN_STREAMER_BROADCAST_CABLE_ANNEX})
        endif()
        kv(modus "cable")
        kv(frontends ${PLUGIN_STREAMER_BROADCAST_CABLE_FRONTENDS})
      elseif(${PLUGIN_STREAMER_BROADCAST_SATELLITE})
        if (${PLUGIN_STREAMER_BROADCAST_STANDARD} STREQUAL DVB)
          kv(annex ${PLUGIN_STREAMER_BROADCAST_SATELLITE_ANNEX})
        endif()
        kv(modus "satellite")
        kv(frontends ${PLUGIN_STREAMER_BROADCAST_SATELLITE_FRONTENDS})
      elseif(${PLUGIN_STREAMER_BROADCAST_TERRESTRIAL})
        if (${PLUGIN_STREAMER_BROADCAST_STANDARD} STREQUAL DVB)
          kv(annex ${PLUGIN_STREAMER_BROADCAST_TERRESTRIAL_ANNEX})
        endif()
        kv(modus "terrestrial")
        kv(frontends ${PLUGIN_STREAMER_BROADCAST_TERRESTRIAL_FRONTENDS})
      else()
        message(fatal "No broadcast frontend selected")
      endif()
      if(${PLUGIN_STREAMER_BROADCAST_TS_SCANNING})
        kv(scan true)
        kv(homets "${PLUGIN_STREAMER_BROADCAST_HOME_TS}")
      endif()
      if(${PLUGIN_STREAMER_BROADCAST_SI_PARSING})
        kv(siparse true)
      endif()
    end()
    ans(config)
    map_append(${configuration} ${IMPL} ${config})
  endif()

  if(${IMPL} STREQUAL CENC)
    map()
      kv(speeds 0 25 50 75 100 125 150 175 200)
    end()
    ans(config)
    map_append(${configuration} ${IMPL} ${config})
  endif()
endforeach(IMPL ${PLUGIN_STREAMER_IMPLEMENTATIONS})
