set(autostart true)

set(preconditions Platform)

map()
    key(root)
    map()
      kv(threads 2)
      kv(outofprocess true)
    end()
    kv(frontends ${PLUGIN_STREAMER_FRONTENDS})
    kv(decoders ${PLUGIN_STREAMER_DECODERS})
    if("${STREAMER_IMPLEMENTATION}" STREQUAL "QAM")
    if(PLUGIN_STREAMER_HOME_TS)
        # unfortunately the %$^%#$$% CMAKE is a big mess AGAIN !!!
        # The logical steps to get the 
        kv(homets "Please fill in manually CMAKE $%#^^$ UP..... again !!!")
    endif(PLUGIN_STREAMER_HOME_TS)
    if("${PLUGIN_STREAMER_STANDARD}" STREQUAL "DVB")
    kv(standard DVB)
    kv(annex C)
    else()
    kv(standard ATSC)
    kv(annex B)
    endif()
    kv(scan true)
    endif()
    if(PLUGIN_STREAMER_WESTEROSSINK)
        kv(westerossink ${PLUGIN_STREAMER_WESTEROSSINK})
    endif(PLUGIN_STREAMER_WESTEROSSINK)
    kv(speeds)
end()
ans(configuration)
map_append(configuration speeds ___array___)
foreach(SPEED IN LISTS SPEED_LIST)
  map_append(${PLUGIN_CONTROLLER_CONFIGURATION} speeds ${SPEED})
endforeach(SPEED)
