set (autostart ${PLUGIN_DEVICEPROVISIONING_AUTOSTART})
set (preconditions Platform Graphics)

map()
    kv(mode ${PLUGIN_DEVICEPROVISIONING_MODE})
end()
ans(rootobject)

map()
    kv(script ${PLUGIN_DEVICEPROVISIONING_SCRIPT})
end()
ans(configuration)
map_append(${configuration} root ${rootobject})
