if(${WPEFRAMEWORK_PLUGIN_TVCONTROL_AUTOSTART})
    set (autostart true)
else()
    set (autostart false)
endif()

set (preconditions Platform)

map()
    kv(dvb ${WPEFRAMEWORK_PLUGIN_TVCONTROL_DVB})
    kv(idletime 30)
    kv(homets 0)
    kv(frequencylist ${WPEFRAMEWORK_PLUGINS_TVCONTROL_FREQUENCY_LIST})
    kv(tuneparameters ${WPEFRAMEWORK_PLUGINS_TVCONTROL_TUNE_PARAM})
    kv(countrycode ${WPEFRAMEWORK_PLUGINS_TVCONTROL_COUNTRY_CODE})
    kv(countryregionid ${WPEFRAMEWORK_PLUGINS_TVCONTROL_COUNTRY_REGION_ID})
end()
ans(configuration)

map()
if(${WPEFRAMEWORK_PLUGIN_TVCONTROL_OUTOFPROCESS})
    kv(outofprocess true)
else()
    kv(outofprocess false)
endif()
end()
ans(rootobject)

map_append(${configuration} root ${rootobject})