if(${PLUGIN_TVCONTROL_AUTOSTART})
    set (autostart true)
else()
    set (autostart false)
endif()

set (preconditions Platform)

map()
    kv(dvb ${PLUGIN_TVCONTROL_DVB})
    kv(idletime 30)
    kv(homets ${PLUGIN_TVCONTROL_HOME_TS})
    kv(frequencylist ${PLUGIN_TVCONTROL_FREQUENCY_LIST})
    kv(tuneparameters ${PLUGIN_TVCONTROL_TUNE_PARAM})
    kv(countrycode ${PLUGIN_TVCONTROL_COUNTRY_CODE})
    kv(countryregionid ${PLUGIN_TVCONTROL_COUNTRY_REGION_ID})
end()
ans(configuration)

map()
if(${PLUGIN_TVCONTROL_OUTOFPROCESS})
    kv(outofprocess true)
else()
    kv(outofprocess false)
endif()
end()
ans(rootobject)

map_append(${configuration} root ${rootobject})

