set (autostart ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_AUTOSTART})

if (${WPEFRAMEWORK_PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "Nexus")

    map()
        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_GFX)
            kv(gfx ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_GFX})
        endif (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_GFX)
        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_GFX2)
            kv(gfx2 ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_GFX2})
        endif (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_GFX2)   
        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_RESTRICTED)
            kv(restricted ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_RESTRICTED})
        endif (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_RESTRICTED)   
        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_MAIN)
            kv(main ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_MAIN})
        endif (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_MAIN)
        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_EXPORT)
            kv(export ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_EXPORT})
        endif (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_EXPORT)   
        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_SECURE_GFX)
            kv(secureGFX ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_SECURE_GFX})
        endif (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_SECURE_GFX)   
        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_CLIENT)
            kv(client ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_CLIENT})
        endif (WPEFRAMEWORK_PLUGIN_COMPOSITOR_MEMORY_CLIENT)
    end()
    ans(memory_settings)

endif ()

map()
    kv(outofprocess ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_OUTOFPROCESS})
    kv(locator ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_IMPLEMENTATION_LIB})
end()
ans(rootconfig)

map()
    kv(resolution ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_RESOLUTION})

    if (${WPEFRAMEWORK_PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "Wayland")
        kv(display "wayland-0")
        kv(renderer "/usr/lib/libwesteros_render_gl.so")
        kv(workdir "/tmp/wayland")
    endif ()

    if (${WPEFRAMEWORK_PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "Nexus")

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_ALLOW_UNAUTHENTICATED_CLIENTS)
            kv(authentication true)
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_ALLOW_UNAUTHENTICATED_CLIENTS)

        if (${WPEFRAMEWORK_PLUGIN_COMPOSITOR_HARDWAREREADY} GREATER 0)
            kv(hardwareready ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_HARDWAREREADY})
        endif ()

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_IRMODE)
            kv(irmode ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_IRMODE})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_IRMODE)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_BOXMODE)
            kv(boxmode ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_BOXMODE})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_BOXMODE)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_AUTHENTICATION)
            kv(authentication ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_AUTHENTICATION})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_AUTHENTICATION)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_SVP)
            kv(svp ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_SVP})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_SVP)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_FRAMEBUFFER_WIDTH)
           kv(framebufferwidth ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_FRAMEBUFFER_WIDTH})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_FRAMEBUFFER_WIDTH)
 
        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_FRAMEBUFFER_HEIGHT)
           kv(framebufferheight ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_FRAMEBUFFER_HEIGHT})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_FRAMEBUFFER_HEIGHT)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_SAGE_PATH)
            kv(sagepath ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_SAGE_PATH})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_SAGE_PATH)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP_LEVEL)
            kv(hdcplevel ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP_LEVEL})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP_LEVEL)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP_VERSION)
            kv(hdcpversion ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP_VERSION})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP_VERSION)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP1XBIN_PATH)
            kv(hdcp1xbinfile ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP1XBIN_PATH})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP1XBIN_PATH)

        if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP2XBIN_PATH)
            kv(hdcp2xbinfile ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP2XBIN_PATH})
        endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_HDCP2XBIN_PATH)

    endif ()

end()
ans(configuration)

map_append(${configuration} root ${rootconfig})
map_append(${configuration} memory ${memory_settings})
map_append(${PLUGIN_CONFIG} configuration ${configuration})
