set (autostart ${PLUGIN_COMPOSITOR_AUTOSTART})

if (${PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "Nexus"
    OR PLUGIN_COMPOSITOR_NXSERVER)

    map()
        if (PLUGIN_COMPOSITOR_MEMORY_GFX)
            kv(gfx ${PLUGIN_COMPOSITOR_MEMORY_GFX})
        endif (PLUGIN_COMPOSITOR_MEMORY_GFX)
        if (PLUGIN_COMPOSITOR_MEMORY_GFX2)
            kv(gfx2 ${PLUGIN_COMPOSITOR_MEMORY_GFX2})
        endif (PLUGIN_COMPOSITOR_MEMORY_GFX2)   
        if (PLUGIN_COMPOSITOR_MEMORY_RESTRICTED)
            kv(restricted ${PLUGIN_COMPOSITOR_MEMORY_RESTRICTED})
        endif (PLUGIN_COMPOSITOR_MEMORY_RESTRICTED)   
        if (PLUGIN_COMPOSITOR_MEMORY_MAIN)
            kv(main ${PLUGIN_COMPOSITOR_MEMORY_MAIN})
        endif (PLUGIN_COMPOSITOR_MEMORY_MAIN)
        if (PLUGIN_COMPOSITOR_MEMORY_EXPORT)
            kv(export ${PLUGIN_COMPOSITOR_MEMORY_EXPORT})
        endif (PLUGIN_COMPOSITOR_MEMORY_EXPORT)   
        if (PLUGIN_COMPOSITOR_MEMORY_SECURE_GFX)
            kv(secureGFX ${PLUGIN_COMPOSITOR_MEMORY_SECURE_GFX})
        endif (PLUGIN_COMPOSITOR_MEMORY_SECURE_GFX)   
        if (PLUGIN_COMPOSITOR_MEMORY_CLIENT)
            kv(client ${PLUGIN_COMPOSITOR_MEMORY_CLIENT})
        endif (PLUGIN_COMPOSITOR_MEMORY_CLIENT)
    end()
    ans(memory_settings)

endif ()

map()
    kv(outofprocess ${PLUGIN_COMPOSITOR_OUTOFPROCESS})
    kv(locator ${PLUGIN_COMPOSITOR_IMPLEMENTATION_LIB})
end()
ans(rootconfig)

map()

    kv(resolution ${PLUGIN_COMPOSITOR_RESOLUTION})

    if (${PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "Wayland")
        kv(display "wayland-0")
        kv(renderer "/usr/lib/libwesteros_render_gl.so")
        kv(glname "libwesteros_gl.so.0.0.0")
        kv(workdir "/tmp/wayland")

    endif ()

    if (${PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "Nexus")

       if (NOT NEXUS_SERVER_EXTERNAL)

            if (PLUGIN_COMPOSITOR_ALLOW_UNAUTHENTICATED_CLIENTS)
                kv(authentication true)
            endif(PLUGIN_COMPOSITOR_ALLOW_UNAUTHENTICATED_CLIENTS)

            if (${PLUGIN_COMPOSITOR_HARDWAREREADY} GREATER 0)
                kv(hardwareready ${PLUGIN_COMPOSITOR_HARDWAREREADY})
            endif ()

            list(LENGTH PLUGIN_COMPOSITOR_ALLOWED_CLIENTS ALLOWED_CLIENTS_LENGTH)
            if (ALLOWED_CLIENTS_LENGTH GREATER 0)
                kv(allowedclients ___array___)
            endif()

            if (PLUGIN_COMPOSITOR_IRMODE)
                kv(irmode ${PLUGIN_COMPOSITOR_IRMODE})
            endif(PLUGIN_COMPOSITOR_IRMODE)

            if (PLUGIN_COMPOSITOR_BOXMODE)
                kv(boxmode ${PLUGIN_COMPOSITOR_BOXMODE})
            endif(PLUGIN_COMPOSITOR_BOXMODE)

            if (PLUGIN_COMPOSITOR_AUTHENTICATION)
                kv(authentication ${PLUGIN_COMPOSITOR_AUTHENTICATION})
            endif(PLUGIN_COMPOSITOR_AUTHENTICATION)

            if (PLUGIN_COMPOSITOR_SVP)
               kv(svp ${PLUGIN_COMPOSITOR_SVP})
            endif(PLUGIN_COMPOSITOR_SVP)

            if (PLUGIN_COMPOSITOR_FRAMEBUFFER_WIDTH)
               kv(framebufferwidth ${PLUGIN_COMPOSITOR_FRAMEBUFFER_WIDTH})
            endif(PLUGIN_COMPOSITOR_FRAMEBUFFER_WIDTH)
 
           if (PLUGIN_COMPOSITOR_FRAMEBUFFER_HEIGHT)
               kv(framebufferheight ${PLUGIN_COMPOSITOR_FRAMEBUFFER_HEIGHT})
            endif(PLUGIN_COMPOSITOR_FRAMEBUFFER_HEIGHT)

        endif (NOT NEXUS_SERVER_EXTERNAL)

        if (PLUGIN_COMPOSITOR_SAGE_PATH)
            kv(sagepath ${PLUGIN_COMPOSITOR_SAGE_PATH})
        endif(PLUGIN_COMPOSITOR_SAGE_PATH)

        if (PLUGIN_COMPOSITOR_PAK_PATH)
            kv(pakpath ${PLUGIN_COMPOSITOR_PAK_PATH})
        endif(PLUGIN_COMPOSITOR_PAK_PATH)

        if (PLUGIN_COMPOSITOR_DRM_PATH)
            kv(drmpath ${PLUGIN_COMPOSITOR_DRM_PATH})
        endif(PLUGIN_COMPOSITOR_DRM_PATH)

        if (PLUGIN_COMPOSITOR_HDCP_LEVEL)
            kv(hdcplevel ${PLUGIN_COMPOSITOR_HDCP_LEVEL})
        endif(PLUGIN_COMPOSITOR_HDCP_LEVEL)

        if (PLUGIN_COMPOSITOR_HDCP_VERSION)
            kv(hdcpversion ${PLUGIN_COMPOSITOR_HDCP_VERSION})
        endif(PLUGIN_COMPOSITOR_HDCP_VERSION)

        if (PLUGIN_COMPOSITOR_HDCP1XBIN_PATH)
            kv(hdcp1xbinfile ${PLUGIN_COMPOSITOR_HDCP1XBIN_PATH})
        endif(PLUGIN_COMPOSITOR_HDCP1XBIN_PATH)

        if (PLUGIN_COMPOSITOR_HDCP2XBIN_PATH)
            kv(hdcp2xbinfile ${PLUGIN_COMPOSITOR_HDCP2XBIN_PATH})
        endif(PLUGIN_COMPOSITOR_HDCP2XBIN_PATH)

        if (PLUGIN_COMPOSITOR_LOUDNESS_MODE)
            kv(loudnessmode ${PLUGIN_COMPOSITOR_LOUDNESS_MODE})
        endif(PLUGIN_COMPOSITOR_LOUDNESS_MODE)

    endif ()

    kv(cursor ${PLUGIN_COMPOSITOR_CURSOR_FILE})
end()
ans(configuration)

if (${PLUGIN_COMPOSITOR_IMPLEMENTATION} STREQUAL "Nexus")
    list(LENGTH PLUGIN_COMPOSITOR_ALLOWED_CLIENTS ALLOWED_CLIENTS_LENGTH)
    if (ALLOWED_CLIENTS_LENGTH GREATER 0)
        foreach(CLIENT IN LISTS PLUGIN_COMPOSITOR_ALLOWED_CLIENTS)
            map_append(${configuration} allowedclients ${CLIENT})
        endforeach(CLIENT)
    endif()
endif()

map_append(${configuration} root ${rootconfig})
map_append(${configuration} memory ${memory_settings})
map_append(${PLUGIN_CONFIG} configuration ${configuration})
