set (autostart true)

map()
kv(outofprocess true)
kv(service internal)
kv(hardwareready 3)
kv(display "wayland-0")
kv(renderer "/usr/lib/libwesteros_render_gl.so")
kv(width 1920)
kv(height 1080)
kv(workdir "/tmp/wayland")
if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_BOXMODE)
    kv(boxmode ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_BOXMODE})
endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_BOXMODE)
if (WPEFRAMEWORK_PLUGIN_COMPOSITOR_GRAPHICS_HEAP_SIZE)
    kv(graphicsheap ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_GRAPHICS_HEAP_SIZE})
endif(WPEFRAMEWORK_PLUGIN_COMPOSITOR_GRAPHICS_HEAP_SIZE)
kv(locator ${WPEFRAMEWORK_PLUGIN_COMPOSITOR_IMPLEMENTATION_LIB})
key(events)
end()
ans(configuration)

map_append(${configuration} events ___array___)
map_append(${configuration} events Platform)

map_append(${PLUGIN_CONFIG} configuration ${configuration})

