set (autostart false)
set (resumed true)

map()
    key(root)
    map()
      kv(outofprocess true)
    end()
    kv(csv_filepath ${PLUGIN_RESOURCEMONITOR_CSV_FILEPATH})
    kv(csv_sep ${PLUGIN_RESOURCEMONITOR_CSV_SEPERATOR})
    kv(interval ${PLUGIN_RESOURCEMONITOR_INTERVAL})
    kv(names ${PLUGIN_RESOURCEMONITOR_NAMES})
end()
ans(configuration)
