set(autostart ${PLUGIN_RESOURCEMONITOR_AUTOSTART})
set(resumed ${PLUGIN_RESOURCEMONITOR_RESUMED})

map()
    key(root)
    map()
        if(PLUGIN_RESOURCEMONITOR_MODE)
            kv(mode ${PLUGIN_RESOURCEMONITOR_MODE})
        else()
            if(PLUGIN_RESOURCEMONITOR_OUTOFPROCESS)
                kv(mode "Local")
            else()
                kv(mode "Off")
            endif()
        endif()
    end()
end()
ans(configuration)
