set (startmode ${PLUGIN_YANG_STARTMODE})

map()
    kv(mode ${PLUGIN_YANG_MODE})
    kv(locator lib${PLUGIN_YANG_IMPLEMENTATION}.so)
    if(PLUGIN_YANG_USER)
        kv(user ${PLUGIN_YANG_USER})
    endif()
    if(PLUGIN_YANG_GROUP)
        kv(group ${PLUGIN_YANG_GROUP})
    endif()
end()
ans(rootobject)

map()
   kv(yincallsign ${PLUGIN_YANG_YINCALLSIGN})
   kv(etymology ${PLUGIN_YANG_ETYMOLOGY})
   kv(color ${PLUGIN_YANG_COLOR})
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
