set (autostart true)

map()
    key(root)
    map()
      kv(outofprocess true)
    end()
    kv(port ${WPEFRAMEWORK_WEBSERVER_PORT})
    kv(binding "0.0.0.0")
    kv(path ${WPEFRAMEWORK_WEBSERVER_PATH})
    kv(proxies ___array___)
end()
ans(configuration)

if(WPEFRAMEWORK_PLUGIN_DEVICEINFO)
  map()
      kv(path /Service/DeviceInfo)
      kv(subst /Service/DeviceInfo)
      kv(server 127.0.0.1:${WPEFRAMEWORK_PORT})
  end()
  ans(DEVICEINFO_CONFIG)
  map_append(${configuration} proxies ${DEVICEINFO_CONFIG})
endif(WPEFRAMEWORK_PLUGIN_DEVICEINFO)

if(WPEFRAMEWORK_PLUGIN_DIALSERVER)
  map()
      kv(path /Service/DIALServer)
      kv(subst /Service/DIALServer)
      kv(server 127.0.0.1:${WPEFRAMEWORK_PORT})
  end()
  ans(DIALSERVER_CONFIG)
  map_append(${configuration} proxies ${DIALSERVER_CONFIG})
endif(WPEFRAMEWORK_PLUGIN_DIALSERVER)
