set(startmode ${PLUGIN_WEBSERVER_STARTMODE})
set(resumed ${PLUGIN_WEBSERVER_RESUMED})

if(PLUGIN_WEBSERVER_SECURITYAGENT)
  set (preconditions ${preconditions} Security)
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_WEBSERVER_MODE})
        if(PLUGIN_WEBSERVER_USER)
            kv(user ${PLUGIN_WEBSERVER_USER})
        endif(PLUGIN_WEBSERVER_USER)
        if(PLUGIN_WEBSERVER_GROUP)
            kv(group ${PLUGIN_WEBSERVER_GROUP})
        endif(PLUGIN_WEBSERVER_GROUP)
    end()
    if (PLUGIN_WEBSERVER_PORT)
        kv(port ${PLUGIN_WEBSERVER_PORT})
    endif(PLUGIN_WEBSERVER_PORT)
    kv(binding "0.0.0.0")
    if (PLUGIN_WEBSERVER_PATH)
        kv(path ${PLUGIN_WEBSERVER_PATH})
    endif(PLUGIN_WEBSERVER_PATH)
    if(PLUGIN_WEBSERVER_SECURITYAGENT)
      kv(securityagent true)
    endif(PLUGIN_WEBSERVER_SECURITYAGENT)
    if(PLUGIN_WEBSERVER_PROXY_DEVICEINFO OR PLUGIN_WEBSERVER_PROXY_DIALSERVER)
        kv(proxies ___array___)
    endif(PLUGIN_WEBSERVER_PROXY_DEVICEINFO OR PLUGIN_WEBSERVER_PROXY_DIALSERVER)
end()
ans(configuration)

if(PLUGIN_WEBSERVER_PROXY_DEVICEINFO)
map()
    kv(path /Service/DeviceInfo)
    kv(subst /Service/DeviceInfo)
    kv(server 127.0.0.1:${PLUGIN_WEBSERVER_BRIDGE_PORT})
end()
ans(DEVICEINFO_CONFIG)
map_append(${configuration} proxies ${DEVICEINFO_CONFIG})
endif(PLUGIN_WEBSERVER_PROXY_DEVICEINFO)

if(PLUGIN_WEBSERVER_PROXY_DIALSERVER)
map()
    kv(path /Service/DIALServer)
    kv(subst /Service/DIALServer)
    kv(server 127.0.0.1:${PLUGIN_WEBSERVER_BRIDGE_PORT})
end()
ans(DIALSERVER_CONFIG)
map_append(${configuration} proxies ${DIALSERVER_CONFIG})
endif(PLUGIN_WEBSERVER_PROXY_DIALSERVER)
