option(PLUGIN_WEBSERVER_PROXY_DEVICEINFO "Enable proxy for DeviceInfo" ${PLUGIN_DEVICEINFO})
option(PLUGIN_WEBSERVER_PROXY_DIALSERVER "Enable proxy for DIALServer" ${PLUGIN_DIALSERVER})

set (autostart true)
set (resumed true)

map()
    key(root)
    map()
      kv(outofprocess true)
    end()
    kv(port ${PLUGIN_WEBSERVER_PORT})
    kv(binding "0.0.0.0")
    kv(path ${PLUGIN_WEBSERVER_PATH})
    if(PLUGIN_WEBSERVER_PROXY_DEVICEINFO OR PLUGIN_WEBSERVER_PROXY_DIALSERVER)
      kv(proxies ___array___)
    endif(PLUGIN_WEBSERVER_PROXY_DEVICEINFO OR PLUGIN_WEBSERVER_PROXY_DIALSERVER)
end()
ans(configuration)

if(PLUGIN_WEBSERVER_PROXY_DEVICEINFO)
  map()
      kv(path /Service/DeviceInfo)
      kv(subst /Service/DeviceInfo)
      kv(server 127.0.0.1:${WPEFRAMEWORK_PORT})
  end()
  ans(DEVICEINFO_CONFIG)
  map_append(${configuration} proxies ${DEVICEINFO_CONFIG})
endif(PLUGIN_WEBSERVER_PROXY_DEVICEINFO)

if(PLUGIN_WEBSERVER_PROXY_DIALSERVER)
  map()
      kv(path /Service/DIALServer)
      kv(subst /Service/DIALServer)
      kv(server 127.0.0.1:${WPEFRAMEWORK_PORT})
  end()
  ans(DIALSERVER_CONFIG)
  map_append(${configuration} proxies ${DIALSERVER_CONFIG})
endif(PLUGIN_WEBSERVER_PROXY_DIALSERVER)
