set(autostart ${PLUGIN_DTV_AUTOSTART})
set(preconditions Platform)

map()
    key(root)
    map()
        if(PLUGIN_DTV_MODE)
            kv(mode ${PLUGIN_DTV_MODE})
        else()
            if(PLUGIN_DTV_OUTOFPROCESS)
                kv(mode "Local")
            else()
                kv(mode "Off")
            endif()
        endif()
    end()
    kv(subtitleprocessing false)
    kv(teletextprocessing false)
end()
ans(configuration)
