#  [  TV 1   ]    [   TV 2  ]
#  [ 0.0.0.0 ]    [ 0.0.0.0 ]
#  -----------    ----------
#       3              4
#       |              |
#       |-----|  |-----|
#             |  |
# recorder--->1  2<---tuner, playback
#          [   RPI   ]
#          [ 3.0.0.0 ]
#          [ 4.0.0.0 ]
#          -----------
#
# [  TV 1  ]
# {
#   "interfaces": [
#     {
#       "name": "hdmi",
#       "configuration": {
#         "node": "/dev/cec-0",
#         "roles": [
#           "tv"
#         ]
#       }
#     }
#   ]
# }
#
# [  TV 2  ]
# {
#   "interfaces": [
#     {
#       "name": "hdmi",
#       "configuration": {
#         "node": "/dev/cec-0",
#         "roles": [
#           "tv"
#         ]
#       }
#     }
#   ]
# }
#
# [  RPI  ]
# {
#   "interfaces": [
#     {
#       "name": "front",
#       "configuration": {
#         "node": "/dev/cec0",
#         "roles": [
#           "recorder"
#         ]
#       }
#     },
#     {
#       "name": "back",
#       "configuration": {
#         "node": "/dev/cec1",
#         "roles": [
#           "tuner",
#           "playback"
#         ]
#       }
#     }
#   ]
# }

set (startmode ${PLUGIN_CECCONTROL_STARTMODE})

map()
end()
ans(configuration)

if(PLUGIN_CECCONTROL_INTERFACES)
    # PLUGIN_CECCONTROL_INTERFACES = "hdmi1:/dev/cec0:recorder";"hdmi2:/dev/cec1:tuner,playback"
    list(APPEND interfaces "${PLUGIN_CECCONTROL_INTERFACES}")

    foreach(if ${interfaces})
        string(REPLACE ":" ";" vars ${if})

        list(GET vars 0 name)
        list(GET vars 1 node)
        list(GET vars 2 roles)

        string(REPLACE "," ";" roles ${roles})

        map()
            kv(node ${node})
        end()
        ans(interface-config-${name})

        foreach(role ${roles})
            map_append(${interface-config-${name}} roles ___array___ ${role})
        endforeach()

        map()
            kv(name ${name})
        end()
        ans(interface-${name})

        map_append(${interface-${name}} configuration ${interface-config-${name}})

        map_append(${configuration} interfaces ___array___ ${interface-${name}})
    endforeach()
endif()
