set (autostart ${PLUGIN_OPENCDMI_AUTOSTART})

set(preconditions Provisioning)

    if (PLUGIN_OPENCDMI_PLAYREADY_NEXUS OR PLUGIN_OPENCDMI_PLAYREADY_NEXUS_SVP OR PLUGIN_OPENCDMI_NAGRA)
set(preconditions ${preconditions} Platform)
endif()

map()
    kv(outofprocess ${PLUGIN_OPENCDMI_OOP})
    if(PLUGIN_OPENCDMI_USER)
        kv(user ${PLUGIN_OPENCDMI_USER})
    endif()
    if(PLUGIN_OPENCDMI_GROUP)
        kv(group ${PLUGIN_OPENCDMI_GROUP})
    endif()
end()
ans(rootobject)

map()
   kv(systems ___array___)
end()
ans(configuration)


if(PLUGIN_OPENCDMI_CLEARKEY)
map()
    kv(name "ClearKey")
    kv(designators "___array___;org.chromium.externalclearkey") 
end()
ans(keysystem)
map_append(${configuration} systems ${keysystem})
endif()

if(PLUGIN_OPENCDMI_PLAYREADY OR PLUGIN_OPENCDMI_PLAYREADY_NEXUS OR PLUGIN_OPENCDMI_PLAYREADY_NEXUS_SVP OR PLUGIN_OPENCDMI_PLAYREADY_VGDRM)
map()
    kv(name "PlayReady")
    kv(designators "com.youtube.playready;com.microsoft.playready")
end()
ans(keysystem)
map_append(${configuration} systems ${keysystem})
endif()

if(PLUGIN_OPENCDMI_WIDEVINE)
map()
    kv(name "WideVine")
    kv(designators "___array___;com.widevine.alpha") 
end()
ans(keysystem)
map_append(${configuration} systems ${keysystem})
endif()

if(PLUGIN_OPENCDMI_NAGRA)
map()
    kv(name "NagraSystem")
    kv(designators "___array___;com.nagra.system") 
    key(configuration)
    map()
        kv(operatorvault "/tmp/ov.json")
        kv(licensepath "/tmp/licenses")
    end()
end()
ans(keysystem)
map_append(${configuration} systems ${keysystem})
map()
    kv(name "NagraConnect")
    kv(designators "___array___;com.nagra.connect") 
end()
ans(keysystem)
map_append(${configuration} systems ${keysystem})
endif()

map_append(${configuration} root ${rootobject})
