set (autostart ${WPEFRAMEWORK_PLUGIN_OPENCDMI_AUTOSTART})

set(preconditions Provisioning)

if (PLUGIN_OPENCDMI_PLAYREADY_NEXUS OR PLUGIN_OPENCDMI_PLAYREADY_NEXUS_SVP OR PLUGIN_OPENCDMI_NAGRA)
set(preconditions ${preconditions} Platform)
endif()

map()
    kv(outofprocess ${WPEFRAMEWORK_PLUGIN_OPENCDMI_OOP})
    if(WPEFRAMEWORK_PLUGIN_OPENCDMI_USER)
        kv(user ${WPEFRAMEWORK_PLUGIN_OPENCDMI_USER})
    endif()
    if(WPEFRAMEWORK_PLUGIN_OPENCDMI_GROUP)
        kv(group ${WPEFRAMEWORK_PLUGIN_OPENCDMI_GROUP})
    endif()
end()
ans(rootobject)

map()
   key(mapping)

        if(PLUGIN_OPENCDMI_CLEARKEY)
        map()
            kv(key "org.chromium.externalclearkey")
            kv(system "ClearKey")
        end()
        endif()

        if(PLUGIN_OPENCDMI_PLAYREADY OR PLUGIN_OPENCDMI_PLAYREADY_NEXUS OR PLUGIN_OPENCDMI_PLAYREADY_NEXUS_SVP OR PLUGIN_OPENCDMI_PLAYREADY_VGDRM)
        map()
            kv(key "com.youtube.playready")
            kv(system "PlayReady")
        end()
        map()
            kv(key "com.microsoft.playready")
            kv(system "PlayReady")
        end()
        endif()

        if(PLUGIN_OPENCDMI_WIDEVINE)
        map()
            kv(key "com.widevine.alpha")
            kv(system "WideVine")
        end()
        endif()

       if(PLUGIN_OPENCDMI_NAGRA)
        map()
            kv(key "com.nagra.system")
            kv(system "NagraSystem")
        end()
        map()
            kv(key "com.nagra.connect")
            kv(system "NagraConnect")
        end()
        endif()

end()
ans(configuration)

map_append(${configuration} root ${rootobject})
