set (autostart ${WPEFRAMEWORK_PLUGIN_OPENCDMI_AUTOSTART})

# set(preconditions Network)

map()
   kv(outofprocess ${WPEFRAMEWORK_PLUGIN_OPENCDMI_OOP})
   key(mapping)

        if(PLUGIN_OPENCDMI_CLEARKEY)
        map()
            kv(key "org.chromium.externalclearkey")
            kv(system "ClearKey")
        end()
        endif()

        if(PLUGIN_OPENCDMI_PLAYREADY OR PLUGIN_OPENCDMI_PLAYREADY_NEXUS)
        map()
            kv(key "com.youtube.playready")
            kv(system "PlayReady")
        end()
        map()
            kv(key "com.microsoft.playready")
            kv(system "PlayReady")
        end()
        endif()

        if(PLUGIN_OPENCDMI_WIDEVINE)
        map()
            kv(key "com.widevine.alpha")
            kv(system "WideVine")
        end()
        endif()

end()
ans(configuration)
