set(startmode ${PLUGIN_BACKOFFICE_STARTMODE})

map()
    if(PLUGIN_BACKOFFICE_SERVER_ADDRESS)
        kv(server ${PLUGIN_BACKOFFICE_SERVER_ADDRESS})
    endif()
    if(PLUGIN_BACKOFFICE_SERVER_PORT)
        kv(port ${PLUGIN_BACKOFFICE_SERVER_PORT})
    endif()
    if(PLUGIN_BACKOFFICE_CUSTOMER)
        kv(customer ${PLUGIN_BACKOFFICE_CUSTOMER})
    endif()
    if(PLUGIN_BACKOFFICE_PLATFORM)
        kv(platform ${PLUGIN_BACKOFFICE_PLATFORM})
    endif()
    if(PLUGIN_BACKOFFICE_COUNTRY)
        kv(country ${PLUGIN_BACKOFFICE_COUNTRY})
    endif()
    if(PLUGIN_BACKOFFICE_TYPE)
        kv(type ${PLUGIN_BACKOFFICE_TYPE})
    endif()
    if(PLUGIN_BACKOFFICE_SESSION)
        kv(session ${PLUGIN_BACKOFFICE_SESSION})
    endif()
end()
ans(configuration)

if(PLUGIN_BACKOFFICE_CALLSIGN_MAPPING)
map_append(${configuration} callsign_mapping ___array___ ${PLUGIN_BACKOFFICE_CALLSIGN_MAPPING})
endif()
if(PLUGIN_BACKOFFICE_STATE_MAPPING)
map_append(${configuration} state_mapping ___array___ ${PLUGIN_BACKOFFICE_STATE_MAPPING})
endif()
