set (autostart true)
set (preconditions Platform)

map()
   if(PLUGIN_IOCONNECTOR_REPORTING_PIN) 
   map()
       kv(id ${PLUGIN_IOCONNECTOR_REPORTING_PIN})
       kv(mode Both)
       kv(activelow true)
       key(handlers)
       map()
           kv(name Reporter)
           key(config)
           map()
               kv(marker 1)
           end()
           kv(start 0)
           kv(end 5)
       end()
       map()
           kv(name Reporter)
           key(config)
           map()
               kv(marker 2)
           end()
           kv(start 5)
           kv(end 10)
       end()
       map()
           kv(name Reporter)
           key(config)
           map()
               kv(marker 3)
           end()
           kv(start 10)
       end()
   end()
   endif()
   if(PLUGIN_IOCONNECTOR_PAIRING_PIN) 
   map()
      kv(id ${PLUGIN_IOCONNECTOR_PAIRING_PIN})
      kv(mode Both)
      kv(handlers ___array___)
      map()
         kv(name RemotePairing)
         key(config)
         map()
             kv(callsign ${PLUGIN_IOCONNECTOR_PAIRING_CALLSIGN})
             kv(producer ${PLUGIN_IOCONNECTOR_PAIRING_PRODUCER})
         end()
      end()
   end()
   endif() 
end()
ans(configuration)

if(PLUGIN_IOCONNECTOR_PINS)
    # PLUGIN_IOCONNECTOR_PINS = '169:Output:true;172:Output:false'
    list(APPEND pins ${PLUGIN_IOCONNECTOR_PINS})

    foreach(if ${pins})
        string(REPLACE ":" ";" vars ${if})

        list(GET vars 0 id)
        list(GET vars 1 mode)
        list(GET vars 2 activelow)

        map()
            kv(id ${id})
            kv(mode ${mode})
            kv(activelow ${activelow})
        end()
        ans(pin-${label})

        map_append(${configuration} pins ___array___ ${pin-${label}})
    endforeach()
endif()
