set (autostart true)
set (preconditions Platform)

map()
   key(pins)
   kv(pins ___array___)
   map()
      kv(id 17)
      kv(mode Output)
      kv(activelow false)
   end()
   if(PLUGIN_IOCONNECTOR_REPORTING_PIN) 
   map()
       kv(id ${PLUGIN_IOCONNECTOR_REPORTING_PIN})
       kv(mode Both)
       kv(activelow true)
       key(handlers)
       map()
           kv(name Reporter)
           key(config)
           map()
               kv(marker 1)
           end()
           kv(start 0)
           kv(end 5)
       end()
       map()
           kv(name Reporter)
           key(config)
           map()
               kv(marker 2)
           end()
           kv(start 5)
           kv(end 10)
       end()
       map()
           kv(name Reporter)
           key(config)
           map()
               kv(marker 3)
           end()
           kv(start 10)
       end()
   end()
   endif()
   if(PLUGIN_IOCONNECTOR_PAIRING_PIN) 
   map()
      kv(id ${PLUGIN_IOCONNECTOR_PAIRING_PIN})
      kv(mode Both)
      kv(handlers ___array___)
      map()
         kv(name RemotePairing)
         key(config)
         map()
             kv(callsign ${PLUGIN_IOCONNECTOR_PAIRING_CALLSIGN})
             kv(producer ${PLUGIN_IOCONNECTOR_PAIRING_PRODUCER})
         end()
      end()
   end()
   endif() 
end()
ans(configuration)

map()
   kv(id 169)
   kv(mode Output)
   kv(activelow true)
end()
ans(keypina)

map()
   kv(id 172)
   kv(mode Output)
   kv(activelow true)
end()
ans(keypinb)

map_append(${configuration} pins ${keypina} ${keypinb})
