set (autostart true)
set (preconditions Platform)

map()
   key(pins)
   map()
       kv(id 169)
       kv(mode Output)
       kv(activelow true)
   end()
   map()
       kv(id 172)
       kv(mode Output)
       kv(activelow true)
   end()
   map()
       kv(id 162)
       kv(mode High)
   end()
   map()
       kv(id 170)
       kv(mode Both)
   end()
end()
ans(configuration)

