set (autostart ${PLUGIN_BLUETOOTHAUDIOSINK_AUTOSTART})

map()
   kv(controller ${PLUGIN_BLUETOOTHAUDIOSINK_CONTROLLER})
   kv(latency ${PLUGIN_BLUETOOTHAUDIOSINK_LATENCY})

   key(codecs)
   map()
      key(LC-SBC)
      map()
        kv(preset ${PLUGIN_BLUETOOTHAUDIOSINK_CODECSBC_PRESET})
      end()
   end()
end()
ans(configuration)
