set (autostart ${PLUGIN_BLUETOOTHAUDIOSINK_AUTOSTART})
set (preconditions Bluetooth)
set (terminations !Bluetooth)

map()
   kv(controller "BluetoothControl")
   key(sdpservice)
   map()
      kv(enable true)
      kv(name "A2DP Audio Source")
      kv(description "Thunder BluetoothAudioSink plugin")
      kv(provider "Thunder")
   end()
end()
ans(configuration)
