set (autostart ${PLUGIN_BLUETOOTHAUDIOSINK_AUTOSTART})
set (preconditions Bluetooth)
set (terminations !Bluetooth)

map()
   kv(controller "BluetoothControl")
   kv(latency ${PLUGIN_BLUETOOTHAUDIOSINK_LATENCY})
   key(sdpservice)

if(PLUGIN_BLUETOOTHAUDIOSINK_SDPSERVICE)
   map()
      kv(enable true)
      kv(name ${PLUGIN_BLUETOOTHAUDIOSINK_SDPSERVICE_NAME})
      kv(description ${PLUGIN_BLUETOOTHAUDIOSINK_SDPSERVICE_DESCRIPTION})
      kv(provider ${PLUGIN_BLUETOOTHAUDIOSINK_SDPSERVICE_PROVIDER})
   end()
endif()

   key(codecs)
   map()
      key(LC-SBC)
      map()
        kv(preset ${PLUGIN_BLUETOOTHAUDIOSINK_CODECSBC_PRESET})
      end()
   end()
end()
ans(configuration)
