set(startmode ${PLUGIN_BLUETOOTH_STARTMODE})

function(add_uuid config)
    set(oneValueArgs UUID CALLSIGN SERVICE)

    cmake_parse_arguments(PARSE_ARGV 1 Argument "${optionsArgs}" "${oneValueArgs}" "${multiValueArgs}")
    if(Argument_UNPARSED_ARGUMENTS)
        message(FATAL_ERROR "Unknown keywords given to add_uuid(): \"${Argument_UNPARSED_ARGUMENTS}\"")
    endif()

    map()
        kv(uuid ${Argument_UUID})
        if(Argument_CALLSIGN)
            kv(callsign ${Argument_CALLSIGN})
        endif()
        if(Argument_SERVICE)
            kv(service ${Argument_SERVICE})
        endif()
    end()
    ans(__entry)
    map_append(${config} uuids ___array___ ${__entry})
endfunction(add_uuid)

map()
    kv(interface 0)
    kv(port ${PLUGIN_BLUETOOTH_PORT})
    kv(baudrate ${PLUGIN_BLUETOOTH_BAUDRATE})
    if(DEFINED PLUGIN_BLUETOOTH_NAME)
        kv(name ${PLUGIN_BLUETOOTH_NAME})
    endif()
    if(DEFINED PLUGIN_BLUETOOTH_SHORT_NAME)
        kv(shortname ${PLUGIN_BLUETOOTH_SHORT_NAME})
    endif()
    if(DEFINED PLUGIN_BLUETOOTH_CLASS)
        kv(class ${PLUGIN_BLUETOOTH_CLASS})
    endif()
    if(DEFINED PLUGIN_BLUETOOTH_AUTO_PASSKEY_CONFIRM)
        kv(autopasskeyconfirm ${PLUGIN_BLUETOOTH_AUTO_PASSKEY_CONFIRM})
    endif()
    if(DEFINED PLUGIN_BLUETOOTH_CONTINUOUS_BACKGROUND_SCAN)
        kv(continuousbackgroundscan ${PLUGIN_BLUETOOTH_CONTINUOUS_BACKGROUND_SCAN})
    endif()
    if(DEFINED PLUGIN_BLUETOOTH_PERSISTMAC)
        kv(persistmac ${PLUGIN_BLUETOOTH_PERSISTMAC})
    endif()

end()
ans(configuration)

if(PLUGIN_BLUETOOTH_SERVICE_A2DP_AUDIO_SINK OR PLUGIN_BLUETOOTH_SERVICE_A2DP_AUDIO_SOURCE)
    add_uuid(${configuration} UUID "110d")
    if(PLUGIN_BLUETOOTH_SERVICE_A2DP_AUDIO_SOURCE)
        add_uuid(${configuration} UUID "110a" CALLSIGN ${PLUGIN_BLUETOOTH_SERVICE_A2DP_AUDIO_SOURCE})
    endif()
    if(PLUGIN_BLUETOOTH_SERVICE_A2DP_AUDIO_SINK)
        add_uuid(${configuration} UUID "110b" CALLSIGN ${PLUGIN_BLUETOOTH_SERVICE_A2DP_AUDIO_SINK} SERVICE 0x20)
    endif()
endif()
