set (autostart ${PLUGIN_BLUETOOTH_AUTOSTART})

map()
   kv(interface 0)
   kv(port "/dev/ttyAMA0")
   kv(baudrate 115200)
   kv(class "0x000424")
   kv(autopasskeyconfirm true)
   if(PLUGIN_BLUETOOTH_PERSISTMAC)
       kv(persistmac ${PLUGIN_BLUETOOTH_PERSISTMAC})
   endif()
end()
ans(configuration)
