set (autostart ${PLUGIN_RTSPCLIENT_AUTOSTART})

map()
    kv(hostname ${PLUGIN_RTSPCLIENT_HOSTNAME})
    kv(port ${PLUGIN_RTSPCLIENT_PORT})
end()
ans(configuration)

map()
    kv(outofprocess ${PLUGIN_RTSPCLIENT_OOP})
    key(mapping)
end()
ans(rootobject)

map_append(${configuration} root ${rootobject})
