set(PLUGIN_DIALSERVER_AUTOSTART true CACHE STRING "Automatically start DIALServer plugin")
set (autostart ${PLUGIN_DIALSERVER_AUTOSTART})
set (preconditions Platform Network)

function(add_app config)
    set(oneValueArgs NAME CALLSIGN URL DATA)

    cmake_parse_arguments(PARSE_ARGV 1
            Argument "${optionsArgs}" "${oneValueArgs}" "${multiValueArgs}")

    if(Argument_UNPARSED_ARGUMENTS)
        message(FATAL_ERROR "Unknown keywords given to add_app(): \"${Argument_UNPARSED_ARGUMENTS}\"")
    endif()


    map()
        kv(name ${Argument_NAME})
    if(Argument_CALLSIGN)
        kv(callsign ${Argument_CALLSIGN})
    endif()
        kv(url ${Argument_URL})
        if(Argument_DATA)
            kv(additionaldata ${Argument_DATA})
        endif()
    end()
    ans(new_app)

    map_append(${config} apps ${new_app})
endfunction(add_app)

map()
    kv(name ${PLUGIN_DIALSERVER_NAME})
    kv(model ${PLUGIN_DIALSERVER_MODEL})
    kv(manufacturer ${PLUGIN_DIALSERVER_MANUFACTURER})
    kv(description ${PLUGIN_DIALSERVER_DESCRIPTION})
    if(NOT "${PLUGIN_DIALSERVER_INTERFACE}" STREQUAL "")
        kv(interface ${PLUGIN_DIALSERVER_INTERFACE})
    endif()
    kv(apps ___array___)
end()
ans(configuration)

if(NOT "${PLUGIN_DIALSERVER_WEBSERVER_CALLSIGN}" STREQUAL "")
    map_append(${configuration} webserver ${PLUGIN_DIALSERVER_WEBSERVER_CALLSIGN})
endif()

if(NOT "${PLUGIN_DIALSERVER_SWITCHBOARD_CALLSIGN}" STREQUAL "")
    map_append(${configuration} switchboard ${PLUGIN_DIALSERVER_SWITCHBOARD_CALLSIGN})
endif()

if("${PLUGIN_DIALSERVER_ENABLE_YOUTUBE}")
    if("${PLUGIN_DIALSERVER_YOUTUBE_MODE}" STREQUAL "active")
        add_app(  ${configuration}
            NAME YouTube
            CALLSIGN ${PLUGIN_DIALSERVER_YOUTUBE_CALLSIGN}
            URL "https://www.youtube.com/tv")
    elseif("${PLUGIN_DIALSERVER_YOUTUBE_MODE}" STREQUAL "passive")
        add_app(  ${configuration}
            NAME YouTube
            URL "https://www.youtube.com/tv")
    else()
        message(SEND_ERROR "Unknown YouTube mode:<${PLUGIN_DIALSERVER_YOUTUBE_MODE}>")
    endif()
endif()

if("${PLUGIN_DIALSERVER_ENABLE_NETFLIX}")
    if("${PLUGIN_DIALSERVER_NETFLIX_MODE}" STREQUAL "active")
        add_app( ${configuration}
            NAME Netflix
            CALLSIGN ${PLUGIN_DIALSERVER_NETFLIX_CALLSIGN}
            URL "https://www.netflix.com")
    elseif("${PLUGIN_DIALSERVER_NETFLIX_MODE}" STREQUAL "passive")
        add_app( ${configuration}
            NAME Netflix
            URL "https://www.netflix.com")
    else()
        message(SEND_ERROR "Unknown Netflix mode:<${PLUGIN_DIALSERVER_NETFLIX_MODE}>")
    endif()
endif()

if("${PLUGIN_DIALSERVER_ENABLE_AMAZON_PRIME}")
    if("${PLUGIN_DIALSERVER_AMAZON_PRIME_MODE}" STREQUAL "active")
        add_app( ${configuration}
            NAME AmazonInstantVideo
            CALLSIGN ${PLUGIN_DIALSERVER_AMAZON_PRIME_CALLSIGN}
            URL "https://www.primevideo.com")
    elseif("${PLUGIN_DIALSERVER_AMAZON_PRIME_MODE}" STREQUAL "passive")
        add_app( ${configuration}
            NAME AmazonInstantVideo
            URL "https://www.primevideo.com")
    else()
        message(SEND_ERROR "Unknown Amazon Prime mode:<${PLUGIN_DIALSERVER_AMAZON_PRIME_MODE}>")
    endif()
endif()
