set (autostart true)
set (preconditions Platform)

function(add_app config)
    set(optionsArgs ALLOW_STOP)
    set(oneValueArgs NAME CALLSIGN URL DATA)

    cmake_parse_arguments(PARSE_ARGV 1
            Argument "${optionsArgs}" "${oneValueArgs}" "${multiValueArgs}")

    if(Argument_UNPARSED_ARGUMENTS)
        message(FATAL_ERROR "Unknown keywords given to add_app(): \"${Argument_UNPARSED_ARGUMENTS}\"")
    endif()

    string(TOLOWER ${Argument_ALLOW_STOP} Argument_ALLOW_STOP)

    map()
        kv(name ${Argument_NAME})
        kv(callsign ${Argument_CALLSIGN})
        kv(allowstop ${Argument_ALLOW_STOP})
        kv(url ${Argument_URL})
        if(Argument_DATA)
            kv(additionaldata ${Argument_DATA})
        endif()
    end()
    ans(new_app)

    map_append(${config} apps ${new_app})
endfunction(add_app)

map()
    kv(webserver "WebServer")
    kv(switchboard "SwitchBoard")
    kv(name ${PLUGIN_DIALSERVER_NAME})
    kv(model "Generic Platform")
    kv(manufacturer "Metrological")
    kv(description "Metrological DIAL reference server.")
    key(apps)
end()
ans(configuration)

if(PLUGIN_DIALSERVER_ENABLE_YOUTUBE)
    add_app(  ${configuration}
        NAME YouTube
        CALLSIGN YouTube
        URL "https://www.youtube.com/tv"
        ALLOW_STOP)
endif()

if(PLUGIN_DIALSERVER_ENABLE_NETFLIX)
    add_app( ${configuration}
        NAME Netflix
        CALLSIGN Netflix
        URL "https://www.netflix.com"
        ALLOW_STOP)
endif()



