set (autostart true)
set (preconditions Platform)

string(TOLOWER "${YOUTUBE_MODE}" YOUTUBE_MODE_CONFIG)
string(TOLOWER "${NETFLIX_MODE}" NETFLIX_MODE_CONFIG)

function(add_app config)
    set(optionsArgs ALLOW_STOP)
    set(oneValueArgs NAME CALLSIGN URL DATA)

    cmake_parse_arguments(PARSE_ARGV 1  
            Argument "${optionsArgs}" "${oneValueArgs}" "${multiValueArgs}")

    if(Argument_UNPARSED_ARGUMENTS)
        message(FATAL_ERROR "Unknown keywords given to add_app(): \"${Argument_UNPARSED_ARGUMENTS}\"")
    endif()

    string(TOLOWER ${Argument_ALLOW_STOP} Argument_ALLOW_STOP)

    map()
        kv(name ${Argument_NAME})
    if(Argument_CALLSIGN)
        kv(callsign ${Argument_CALLSIGN})
    endif()
        kv(allowstop ${Argument_ALLOW_STOP})
        kv(url ${Argument_URL})
        if(Argument_DATA)
            kv(additionaldata ${Argument_DATA})
        endif()
    end()
    ans(new_app)

    map_append(${config} apps ${new_app})
endfunction(add_app)     

map()
    kv(name ${PLUGIN_DIALSERVER_NAME})
    kv(model "Generic Platform")
    kv(manufacturer "Metrological")
    kv(description "Metrological DIAL reference server.")
    kv(apps ___array___)
end()
ans(configuration)

if(NOT "${WEBSERVER_CALLSIGN}" STREQUAL "")
    map_append(${configuration} webserver ${WEBSERVER_CALLSIGN})
endif()

if(NOT "${SWITCHBOARD_CALLSIGN}" STREQUAL "") 
    map_append(${configuration} switchboard ${SWITCHBOARD_CALLSIGN})
endif()

if("${YOUTUBE_MODE_CONFIG}" STREQUAL "active")
    add_app(  ${configuration}
        NAME YouTube 
        CALLSIGN ${YOUTUBE_CALLSIGN} 
        URL "https://www.youtube.com/tv"
        ALLOW_STOP)
elseif("${YOUTUBE_MODE_CONFIG}" STREQUAL "passive")
    add_app(  ${configuration}
        NAME YouTube 
        URL "https://www.youtube.com/tv"
        ALLOW_STOP)
endif()

if("${NETFLIX_MODE_CONFIG}" STREQUAL "active")

message(SEND_ERROR "YOUTUBE_MODE_CONFIG:<${YOUTUBE_MODE_CONFIG}>")
message(SEND_ERROR "NETFLIX_MODE_CONFIG:<${NETFLIX_MODE_CONFIG}>")
    add_app( ${configuration}
        NAME Netflix 
        CALLSIGN ${NETFLIX_CALLSIGN} 
        URL "https://www.netflix.com"
        ALLOW_STOP)
elseif("${NETFLIX_MODE_CONFIG}" STREQUAL "passive")
    add_app( ${configuration}
        NAME Netflix 
        URL "https://www.netflix.com"
        ALLOW_STOP) 
endif()
