set(autostart true)

map()
    kv(dnsfile "/etc/resolv.conf")
    kv(timeout ${PLUGIN_NETWORKCONTROL_DHCP_RESONSE_TIMEOUT})
    kv(retries ${PLUGIN_NETWORKCONTROL_DHCP_RETRIES})
    kv(interfaces ___array___)
end()
ans(configuration)

if(PLUGIN_NETWORKCONTROL_INTERFACES)
    # PLUGIN_NETWORKCONTROL_INTERFACES = "interface1:mode1:address1:mask1:gateway1";"interface2:dhcp:-:-:-";"interface3:manual:address3:mask3:gateway3"
    list(APPEND interfaces "${PLUGIN_NETWORKCONTROL_INTERFACES}")

    foreach(if ${interfaces})
        string(REPLACE ":" ";" vars ${if})

        list(GET vars 0 interface)
        list(GET vars 1 mode)
        list(GET vars 2 address)
        list(GET vars 3 mask)
        list(GET vars 4 gateway)

        map()
            kv(interface ${interface})
            kv(mode ${mode})
        if(NOT ${address} STREQUAL "-")
            kv(address ${address})
        endif()
        if(NOT ${mask} STREQUAL "-")
            kv(mask ${mask})
        endif()
        if(NOT ${gateway} STREQUAL "-")
            kv(gateway ${gateway})
        endif()
        end()
        ans(interface-${label})

        map_append(${configuration} interfaces ___array___ ${interface-${label}})
    endforeach()
endif()
