set(autostart true)

map()
    kv(dnsfile "/etc/resolv.conf")
    key(interfaces)
    map()
        kv(interface wlan0)
        kv(mode Manual)
        kv(address "192.168.55.1")
        kv(mask 24)
        kv(gateway "192.168.55.1")
    end()

    if(NOT PLUGIN_NETWORKCONTROL_SYSTEM_NETWORK)
    map()
        kv(interface eth0)
        kv(mode Dynamic)
        kv(address "192.168.1.158")
        kv(mask 24)
        kv(gateway "192.168.1.1")
    end()
    endif()
end()
ans(configuration)
