set(autostart ${PLUGIN_AVS_AUTOSTART})
set(preconditions Internet)

map()
    kv(mode ${PLUGIN_AVS_MODE})
end()
ans(rootobject)

map()
    kv(alexaclientconfig ${PLUGIN_AVS_ALEXA_CLIENT_CONFIG})
    kv(smartscreenconfig ${PLUGIN_AVS_SMART_SCREEN_CONFIG})
    kv(kwdmodelspath ${PLUGIN_AVS_KWD_MODELS_PATH})
    kv(loglevel ${PLUGIN_AVS_LOG_LEVEL})
    kv(audiosource ${PLUGIN_AVS_AUDIOSOURCE})
    kv(enablesmartscreen ${PLUGIN_AVS_ENABLE_SMART_SCREEN})
    kv(enablekwd ${PLUGIN_AVS_ENABLE_KWD})
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
