set(autostart ${PLUGIN_SWITCHBOARD_AUTOSTART})
map()

    if(PLUGIN_SWITCHBOARD_DEFAULT)
        kv(default ${PLUGIN_SWITCHBOARD_DEFAULT})
    endif()
end()
ans(configuration)

if(PLUGIN_SWITCH_AMAZON)
    map_append(${configuration} callsigns ___array___ AmazonPrime)
endif()
if(PLUGIN_SWITCH_COBALT)
    map_append(${configuration} callsigns ___array___ Cobalt)
endif()
if(PLUGIN_SWITCH_NETFLIX)
    map_append(${configuration} callsigns ___array___ Netflix)
endif()
if(PLUGIN_SWITCH_WEBKITBROWSER)
   map_append(${configuration} callsigns ___array___ WebKitBrowser)
endif()
