set(startmode ${PLUGIN_DHCPSERVER_STARTMODE})

map()
    kv(mode ${PLUGIN_DHCPSERVER_MODE})
end()
ans(rootobject)

map()
    kv("name" "wpeserver")
    key(servers)
    map()
        kv(interface eth0)
        kv(poolstart 100)
        kv(poolsize 50)
    end()
    map()
        kv(interface wlan0)
        kv(poolstart 100)
        kv(poolsize 50)
    end()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
