set (autostart false)
set (preconditions Platform)
set (outofprocess true)

map()
    kv("name" "wpeserver")
    key(servers)
    map()
        kv(interface eth0)
        kv(poolstart 100)
        kv(poolsize 50)
    end()
    map()
        kv(interface wlan0)
        kv(poolstart 100)
        kv(poolsize 50)
    end()
end()
ans(configuration)
