set(autostart ${PLUGIN_DHCPSERVER_AUTOSTART})
set(preconditions Platform)

map()
    if(PLUGIN_DHCPSERVER_MODE)
        kv(mode ${PLUGIN_DHCPSERVER_MODE})
    else()
        if(PLUGIN_DHCPSERVER_OUTOFPROCESS)
            kv(mode "Local")
        else()
            kv(mode "Off")
        endif()
    endif()
end()
ans(rootobject)

map()
    kv("name" "wpeserver")
    key(servers)
    map()
        kv(interface eth0)
        kv(poolstart 100)
        kv(poolsize 50)
    end()
    map()
        kv(interface wlan0)
        kv(poolstart 100)
        kv(poolsize 50)
    end()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
